/.pydevproject
/.project
/*.jpeg
/*.png
/__pycache__
/__pycache__/*
/build
/build/*
/*.spec
/*.exe
/dist
/dist/*
/src/*.egg*
/src/plotextractwithcare/__pycache__
/src/plotextractwithcare/__pycache__/*
